html {
    background: midnightblue;
    cursor:wait;
  }

body{
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: url("Ocean for game.jpg");
    background-size: cover;
    border-radius: 5px;
}


  button {
    background: darkred;
    color: white;
    text-align: center;
    border: black;
    border-style: outset;
    width: px;
    height: 30px;
  }


  .acheivs {
    text-align: center;
    color: White;
    margin: auto;
    border-radius: 10px;
  }

.shop{
    font-size: 20px;
    height: 25px;
    width: 60px;
    text-align: center;
    margin:auto;
}

  .upgrades {
    color: white;
    margin-top: 10px;
    width: 500px;
    text-align: center;
  }


  .cool {
    margin-right: 10px;
    margin-bottom: 10px;
  }


  .Rick {
    color: darkred;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }


  .basic {
    color: white;
    text-align: center;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .center2 {
    text-align: center;
  }


  .center3 {
  margin:0 auto;
  display:block;
  }


  .biggerButton{
    font-size: 24px;
  }
